@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
body {
    overflow-x: hidden;
}
.container-full{
padding: 0px;
margin:0px;

}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;

}
.navbar .navbar-collapse{
    text-align: center;
}
.navbar {
    margin-bottom: 0px;
}
.nav >li {
    display: inline-block;
    margin-left:20px; 
}
a.navbar-brand {
    color: white !important;
}
.nav2{
    padding: 0px;
    margin:0px;
    background-color: #141414;
}
.nav2 ul{
    text-align: center;
}
.nav2 ul li {
     display: inline-block;
     margin-left: 35px;
     
}

.sec1 {
    padding: 0px;
    margin:0px;
    background-color: black;
}
.sec1 .banniere{
    background-color: black;
    text-align: center;
}

.sec1 .rdv{
    text-align: center;
}
.sec1 .rdv h2{
    color:  #ffffff;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.sec1 .rdv p span {
    color:  #ffffff;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}
.sec1 .rdv a {
    color:  #66bbff;
    font-size: 22px;
    font-family: 'Arial',sans-serif
}
.sec1 .rdv p{
    color:  #cccccc;
    font-size: 17px;
}
.sec2 {
    padding-top: 20px;
    margin:0px;
    
}

.sec2 .iphone img{
float: right;
}
.sec2 .echange{
    text-align: center;
    margin-top: 50px;
    font-family: Roboto;
    
     
}
.sec2 .echange h2{
    font-size: 36px;   
    color:  #555555;
    
}
.sec2 .echange p{
    color:  #555555;
    font-size: 20px;
}
.sec2 .echange p a{
    color:  #2b9efd;
    font-size: 25px;
}

.sec3{
    padding: 0px;
    margin:0px;
    background-color: black;

}
.sec3 h2{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.sec3 .formulaire {
    margin-left: 50%;
    transform: translateX(-50%);
}
.formulaire div{
    padding: 0px;
}
.formulaire .mail{
    padding-right: 5px;
}
button {
    margin-left: 50%;
    transform: translateX(-50%);
}
.sec3 form {
    margin-bottom: 10px;
}
.sec3 form input{
    border-radius: 5px;
}
footer{
    padding: 0px;
    margin:0px;
    background-color:  #1e1e1e;
}
footer p {
    padding-top: 10px;
    color:  #ffffff;
    font-size: 15px;
    text-align: center;
}
 /* Custom, iPhone Retina */ 
 @media only screen and (max-width : 320px) {
    
        }
    
        /* Extra Small Devices, Phones */ 
        @media only screen and (max-width : 480px) {
    
        }
    
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            .nav2 ul li {
                width: calc(100%/3)
            }
        }
    
        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {
            .nav2 ul li {
                width: calc(100%/4)
            }
        }
    
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
    
        }
    