/* ------------------------------------------------------------
|   Dans cette feuille de styles CSS, je vais pouvoir définir |
|   l'apparence que je veux donner aux différents éléments    |
|   que composent ma page !                                   |
|                                                             |
|   ### La Syntaxe ###                                        |
|   balise {                                                  |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

/* Ajout de Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* -- Je cible dans ma page HTML, tous les éléments A,
    tous les éléments H1 et tous les éléments H3 -- */
a, h1, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

/* ------------------------------------------------------------
|   Cibler via la "classe" de l'élément                       |
|   NB : Une même classe peut-être présente plusieurs fois    |
|   sur une même page.                                        |
|                                                             |
|   .LaClasse {                                               |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

/* 
    CONSIGNE :

        1 - Tous les liens de la classe "header" en noir
        2 - Non souligné
        3 - Affiché en ligne via la propriété "display"

*/

/* ---
    Ici, je cible tous les liens présent dans la div class
    "header"
    --- */

.header a {
    /* -- Plusieurs façons de définir une couleur -- */

    /* -- Mot Clé de la Couleur -- */
    color: black;

    /* -- Notation Hexadécimale -- */
    color:#000000;
    color:#000;

    /* -- Notation Décimale -- */
    color:rgb(000, 000, 000);

    /* -- Gérer le soulignement de mon texte -- */
    text-decoration: none;

    /* -- Modifier la taille de la police -- */
    font-size: 20px;

    /* -- Je souhaite que mes liens s'affiche en Majuscule -- */
    text-transform: uppercase;
}

/* --
    Ici, je cible toutes les listes présentes dans la div
    class "header"
-- */

.header ul {
    margin: 0;
    padding: 0;
}

.header ul li {
    display: inline-block;
    /* - WIDTH : me permet de définir la largeur de
    l'élément - */
    width: 317px;
    /* - Aligner mon texte dans son élément - */
    text-align: center;
}

/* --
    Je souhaite que mes liens soient en rouge au passage
    de la souris.
-- */

a:hover {
    color:#78356b;
}

/* --
    Je change la couleur de mon lien à l'intérieur de la
    classe "current"
-- */

.current a {
    color: #78356b;
    font-weight: bold;
}

/* ------------------------------------------------------------
|   Cibler via son "ID" un élément                            |
|   NB : Un ID ne peut-être présent qu'une seule fois sur     |
|   une même page.                                            |
|                                                             |
|   #MonID {                                                  |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

#page {
    /* -- Je vais définir la largeur de ma page -- */
    width: 960px;

    /* -- margin : <top/bottom> <left/right> -- */
    margin: 0 auto;

    /* -- Je rajoute à ma page un fond blanc -- */
    background: #FFF;
}

/* --
    Je souhaite changer la couleur du fond de ma page.
-- */

body {
    /* -- Je viens de changer la couleur du fond de page -- */
    background: url(../img/fond2.jpg) no-repeat;
    background-size: cover;
}

/* ---------------------
CONSIGNE :

    1 - A ma div#page, ajouter une marge top/bottom de 80px;
    2 - Ajouter avec la propriété border-radius un arrondi de 5px a div#page
    3 - Puis, grace a box-shadow, ajouter une ombre légère autour de div#page */

#page {
    /* -- margin : <top> <right> <bottom> <left> -- */
    margin: 80px auto 80px auto;

    /* -- border-radius permet de rajouter un arondi à
    mon élément -- */
    border-radius: 5px;

    /* -- J'applique une Ombre autour de ma #page -- */
    /* -- offset-x | offset-y | blur-radius | color -- */
    box-shadow: 0px 0px 15px #CCC;

    /* -- J'applique une marge interne ed 5px autour de #page -- */
    padding: 5px;

    /* -- Overflow avec la valeur hidden, va supprimer l'affichage des tous les éléments qui dépassent de la div#page -- */
    overflow: hidden;
}

.contenu h1 {
    /* -- Aligner mon titre au milieu -- */
    text-align: center;

    /* -- Je ne souhaite que le titre soit en gras -- */
    font-weight: normal;

    /* -- solid : Ligne par défaut, dotted : Petits-Points, 
    dashed : des traits d'union -- */
    border-bottom: 1px dashed #000;
}

.BandeauDuHaut {
    width: 100%;
    height: 240px;
    background: url(../img/bandeau-saint-marc-colored.jpg) no-repeat;
    background-size: contain;
}

/* --
    CSS pour Illustration et Article
    -- */

.contenu {
    /* -- Dimension & Positionnement -- */
    width: 100%;
    height: auto;
    float: left;
    /* -- Décoration -- */
}

.contenu span {
    color:#a51f8b;
}

.contenu.txt {
    font-family: Arial, Helvetica, sans-serif;
}

.contenu.txt img {
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.illustration {
    /* -- Dimension & Positionnement -- */
    width: 470px;
    height: auto;
    float: left;
    /* -- Décoration -- */
    margin-right: 10px;
}

.illustration img {
    max-width: 100%;
}

.article {
    /* -- Dimension & Positionnement -- */
    width: 460px;
    height: auto;
    float: left;
    /* -- Décoration -- */
    margin: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* --
    Style de mon Pied de Page
    -- */

.footer {
    /* -- Dimension & Positionnement -- */
    width: 100%;
    /* -- Un hauteur de 210px -- */
    height: 210px;
    /* -- Positionnement -- */
    float: left;
    /* -- Décoration -- */
    background-color: #78356b;
    padding-top: 10px;
}

/* -- 
    Ici, je souhaite que mes 3 blocks soient positionnés, les un à côté des autres, ...
    Mon pied de page étant égale à 960px, je divise par mon nombre de blocks (3) tous en tenant compte des marges.
-- */

/* --
    GOOGLE MAP
    -- */

    .gmap {
        /* -- Dimension & Positionnement -- */
        width: calc( (100% / 3) - 10px);
        float: left;
        /* -- Décoration -- */
        margin-left: 10px;
    }

/* --
    NEWSLETTER
    -- */

    .newsletter {
        /* -- Dimension & Positionnement -- */
        width: calc( (100% / 3) - 10px);
        float: left;
        /* -- Décoration -- */
        margin-left: 10px;
    }

    .newsletter form {}

    .newsletter fieldset {
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 8px;
        border: 2px solid #FFF;
        color: #FFF;
        height: 180px;
    }

    .newsletter legend {}

    .newsletter input {
        width: 91%;
        height: 25px;
        margin-bottom: 5px;
        padding: 5px 10px;
    }

    .newsletter input[type=submit] {
        width: 100%;
        height: 30px;
        border: 0;
        background: #FFF;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    } 

/* --
    CONTACT
    -- */

    .contact {
        /* -- Dimension & Positionnement -- */
        width: calc( (100% / 3) - 10px);
        float: left;
        /* -- Décoration -- */
        margin-left: 10px;
    }

    .contact h3 {
        color: #FFF;
        padding-left: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
    }
    .contact address {
        color: #FFF;
        padding-left: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .contact address strong {
        font-size: 20px;
    }
    .contact address a {
        color: #FFF;
        text-decoration: none;
    }
    .contact address a:hover {
        text-decoration: underline;
    }