@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Acme');
body {

}
.container-fluid{
    padding: 0px !important;
}
/*---------------HEADER -------------------------
------------------------------------------------- */




header{
    background: #1d1d1d;
}
header div:first-child{
    margin-top: 5px;
}
header ul {
    float: right;


}
header ul li{
    margin-right: 80px;
    display: inline-block;
}
header ul li a{
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    line-height: 53px;
    padding: 24px 8px;
    color: white;
}
header ul li a:hover{

    text-decoration: none;
    color:red;
}

.recherche{
    float: right;
    padding: 16.5px 0px;
    margin: 0px;
}
/* ----------------CONTENU--------------

-------------------------------------- */
img {
    max-width: 100%;
}
main{
    padding:  20px ;
}
main div {

}
h2 a {
    color: black;
    font-family: 'Acme', sans-serif;

}
main h3 {
    color: #181818;
    font-size: 17px;
    font-style: italic;
}
main h2 a:hover {
    text-decoration: none;

}


.miseEnAvant{
    margin-top: 20px;
    border: 1px solid gray;
    padding: 0px !important;
    border-radius: 5px;
}
.miseEnAvant div:first-child{
    background: #1d1d1d;
    padding: 10px;
    text-align: center;
    padding-left: 0px !important;
}
.miseEnAvant div:first-child h2{
    color: white;
}
.miseEnAvant h3 {
    font-size: 17px;
    font-style: italic;
}
.miseEnAvant h2:first-child{
    font-size: 24px;
    color: black;
}
.miseEnAvant div {
    padding-left: 15px;
}
/*--------------Mon Compte --------------

-------------------------------------- */
.info {
    padding: 15px;
}
.changement {
    padding: 15px;
}
.changement label{
    margin: 10px 0px;
}
.changement input {
    margin-left: 10px;
}

/*------------------Article-------------------

----------------------------------------------- */
.articleTitre{
    padding: 10px 0;
    border: 1px solid #3498db;
    margin-right: 50px;
}
.articleChapo{
    padding: 10px 0;
    border: 1px solid #3498db;
}
.categorie {
    margin-top: 15px;
    margin-bottom: 15px;
}
#mceu_11{
    margin-bottom: 15px;
}
.msg{
    padding-top: 65px;
}


.button{
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.button:hover{
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;

}
/*------------------Contact-------------------

----------------------------------------------- */

.champ{
    margin-top: 20px;
}

/*---------------------FOOTER--------------

------------------------------------------ */
footer{
    background: #1d1d1d;
    color: white;
    text-align: center;
}
