/* ------------------------------------------------------------
|   Dans cette feuille de styles CSS, je vais pouvoir définir |
|   l'apparence que je veux donner aux différents éléments    |
|   que composent ma page !                                   |
|                                                             |
|   ### La Syntaxe ###                                        |
|   balise {                                                  |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

/* Ajout de Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Heebo');

/* -- Je cible dans ma page HTML, tous les éléments A,
    tous les éléments H1 et tous les éléments H3 -- */
a, h1, h3 {
    font-family: 'Heebo', sans-serif;
}

/* ------------------------------------------------------------
|   Cibler via la "classe" de l'élément                       |
|   NB : Une même classe peut-être présente plusieurs fois    |
|   sur une même page.                                        |
|                                                             |
|   .LaClasse {                                               |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

/* 
    CONSIGNE :

        1 - Tous les liens de la classe "header" en noir
        2 - Non souligné
        3 - Affiché en ligne via la propriété "display"

*/

/* ---
    Ici, je cible tous les liens présent dans la div class
    "header"
    --- */

.header a {
    /* -- Plusieurs façons de définir une couleur -- */

    /* -- Mot Clé de la Couleur -- */
    color: black;

    /* -- Notation Hexadécimale -- */
    color:#000000;
    color:#000;

    /* -- Notation Décimale -- */
    color:rgb(000, 000, 000);

    /* -- Gérer le soulignement de mon texte -- */
    text-decoration: none;

    /* -- Modifier la taille de la police -- */
    font-size: 20px;

    /* -- Je souhaite que mes liens s'affiche en Majuscule -- */
    text-transform: uppercase;
}

/* --
    Ici, je cible toutes les listes présentes dans la div
    class "header"
-- */

.header ul {
    margin: 0;
    padding: 0;
}

.header ul li {
    display: inline-block;
    /* - WIDTH : me permet de définir la largeur de
    l'élément - */
    width: 317px;
    /* - Aligner mon texte dans son élément - */
    text-align: center;
}

/* --
    Je souhaite que mes liens soient en rouge au passage
    de la souris.
-- */

a:hover {
    color:#9f60a9;
}

/* --
    Je change la couleur de mon lien à l'intérieur de la
    classe "current"
-- */

.current a {
    color: #C71225;
}

/* ------------------------------------------------------------
|   Cibler via son "ID" un élément                            |
|   NB : Un ID ne peut-être présent qu'une seule fois sur     |
|   une même page.                                            |
|                                                             |
|   #MonID {                                                  |
|       propriete:valeur;                                     |
|   }                                                         |
------------------------------------------------------------ */

#page {
    /* -- Je vais définir la largeur de ma page -- */
    width: 960px;

    /* -- margin : <top/bottom> <left/right> -- */
    margin: 0 auto;

    /* -- Je rajoute à ma page un fond blanc -- */
    background: rgba(148, 139, 139, 0.527);
    
}

/* --
    Je souhaite changer la couleur du fond de ma page.
-- */

body {
    /* -- Je viens de changer la couleur du fond de page -- */
    background: url('../img/wallpaaper.jpg') ;
}

/* ---------------------
CONSIGNE :

    1 - A ma div#page, ajouter une marge top/bottom de 80px;
    2 - Ajouter avec la propriété border-radius un arrondi de 5px a div#page
    3 - Puis, grace a box-shadow, ajouter une ombre légère autour de div#page */

#page {
    /* -- margin : <top> <right> <bottom> <left> -- */
    margin: 80px auto 80px auto;

    /* -- border-radius permet de rajouter un arondi à
    mon élément -- */
    border-radius: 5px;

    /* -- J'applique une Ombre autour de ma #page -- */
    /* -- offset-x | offset-y | blur-radius | color -- */
    box-shadow: 0px 0px 15px #CCC;

    /* -- J'applique une marge interne ed 5px autour de #page -- */
    padding: 5px;
    overflow: hidden;
}

.contenu h1 {
    /* -- Aligner mon titre au milieu -- */
    text-align: center;

    /* -- Je ne souhaite que le titre soit en gras -- */
    font-weight: normal;

    /* -- solid : Ligne par défaut, dotted : Petits-Points, 
    dashed : des traits d'union -- */
    border-bottom: 5px solid #C71225;
}
.header ul {
    margin-top: 20px;
}

.header a:hover {
    color: #C71225;
}
.bandeau {
    width: 100%;
    height: 420px;
    background: url(../img/banniere.jpg) no-repeat;
    background-size: contain;
}
.bandeau img {
    margin-left: 60px;
    margin-top: 170px;
}
/* -- CSS pour Illustration et Article --*/
.contenu {
    /*-- Dimension & Positionnement --*/
    width: 100%;
    height: auto;
    float: left;
    /*-- Décoration--*/
}
.illustration {

    /*-- Dimension & Positionnement --*/
    width: 480px;
    height: auto;
    float: left;
    position: relative;
    /*-- Décoration--*/
}
.illustration img {
    max-width: 100%;
    border-radius: 10px 10px;
}
.illustration .loupe {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70px;
}
.article {

    /*-- Dimension & Positionnement --*/
    width: 460px;
    height: auto;
    float: left;
    /*-- Décoration--*/
    margin: -15px 10px 0 10px;
    font-family: 'Heebo', sans-serif;
    text-align: justify;
    

}
.article p{

}
/*--
    Style de mon pied de page
--*/

.footer  {
    /*-- Dimension et Positionnement --*/
    width: 100%;
    /*-- Hauteur auto  --*/
    height: auto;
    /*-- Positionnement --*/
    float: left;
    /*-- Décoration  --*/
    margin-top: 10px;
    
}
/*-- Google Maps --*/
.gmap {
    
    /*-- Dimension et Positionnement --*/
    width: calc((100%/3) - 10px);
    float: left;
    height: auto;
    /*-- Décoration  --*/
    margin-left: 10px;
}
/*-- Newsletter --*/
.newsletter {
    float: left;
    width: calc((100%/3) - 10px);
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
   
}
.newsletter form {

}
.newsletter fieldset {
    font-family: 'Roboto Condensed' , sans-serif;
    border-radius: 8px;
    border: 3px solid #C71225;
    color: #C71225;
    height: 180px;

}
.newsletter legend {


}
.newsletter input {
    width: 91%;
    height: 25px;
    margin-bottom: 5px;
    padding: 5px 10px;

}
.newsletter input[type=submit] {
    width: 100%;
    height: 35px;
    border: 0;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
/*-- Contact --*/
.contact {
    width: calc((100%/3) - 10px);
    height: 100%;
    float: left;
    margin-left: 10px;
    color: black;
}
.contact h3 {
    text-align: center;
    font-weight: normal;
    font-family: 'Roboto Condesed',sans-serif;


}
.contact address {
    padding-left: 20px;

}
.contact address strong {
    font-size: 20px;
}
.contact address a{
    text-decoration: none;
    color: rgb(36, 33, 33)
}
.contact address a:hover {
    text-decoration: underline;
}
.video {
    margin-left: 40px;
    float: left
}
.video h3 {
    text-align: center;
    font-size: 26px;
}