@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {


}
main {
    padding: 0 0 !important;
    overflow: hidden;
}
#nav {
    position: absolute;
    top: 0px;
    right: 0px;

}
.banniere {
    position: relative;
}
.banniere img {
    width: 100%;
}
header {
    padding: 0 0 !important;
}
.banniere h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #ffffffb5;
    font-family: 'Courgette', cursive;
    font-size: 50px;

}
#nav ul{
    margin-right: 20px;
    margin-top: 25px;
    
    
}
#nav ul li {
    margin-left: 30px;
    
}
#nav ul li a {
    color: #ffffffb5;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    
}
#nav ul li a:hover{
    color: red;
}
#nav ul li a:hover::before{
  width: 147px;
  height: 42px;
  background: url('../im') no-repeat;
  content: " ";
  position: absolute;
  top: -10px;
  left: -40px;
}
#presentation {
    background: #132959;
    padding: 75px 0;
    
    
}
#presentation p  {
  padding-top: 40px;
  width: 50%;
  color: wheat;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}
#travaux {
  padding: 75px 0 ;
  background: #84cecc
}
#competence {
  padding: 75px 0;
  background: #132959;
  text-align: center;
}
#competence ul {
  margin-top: 50px;
}
#competence ul li {
  margin-left: 40px;

}
#competence ul li a {
 filter: grayscale(100%);
 transition: 1.3s;
}
#competence ul li a:hover {
  filter: none;
  
}
#competence h2 {
  color: white;
}
#contact {
  text-align: center;
  background: #84cecc;
}
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
.description  {
 
  background: cornflowerblue;
}

.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }
/* SLIDER */
.csslider {
  
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
  }
  .csslider > input {
    display: none;
  }
  .csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
  }
  .csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
  }
  .csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
  }
  .csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
  }
  .csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
  }
  .csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
  }
  .csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
  }
  .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
  }
  .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
  }
  .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
  }
  .csslider > ul {
    position: relative;
    width: 820px;
    height: 420px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    background-color: #3a3a3a;
    border: 10px solid #3a3a3a;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
  }
  .csslider > ul > li.scrollable {
    overflow-y: scroll;
  }
  .csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider > .navigation > div {
    margin-left: -100%;
  }
  .csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3a3a3a;
  }
  .csslider > .navigation label:hover:after {
    opacity: 1;
  }
  .csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #71ad37;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
  }
  .csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
  }
  .csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
  }
  .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
  .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
  .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
  .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
  .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
  .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
  .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
  .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
  .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
  .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
  .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
  }
  .csslider > .arrows {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 99%;
    height: 26px;
    padding: 0 0;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3a3a3a;
    cursor: pointer;
    -moz-transition: .15s;
    -o-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #71ad37;
    margin: 0 0px;
  }
  .csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
  }
  .csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type,
  .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0),
  .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
  .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
  .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3),
  .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4),
  .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5),
  .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6),
  .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7),
  .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8),
  .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9),
  .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) {
    display: block;
    left: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type,
  .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
  .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
  .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
  .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5),
  .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6),
  .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7),
  .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8),
  .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9),
  .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10),
  .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11),
  .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) {
    display: block;
    right: 0;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  img {
      max-width: 100%;
  }
  /*#region MODULES */
  /*#endregion */