@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-image: url('../img/fond.png');
    background-size: cover;
    overflow-x: hidden;
}
.page {
    width: 100%;
    max-width: 1000px;
    margin: 80px auto 80px auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    

}
.accroche {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}
/*-- TopHeader --*/
.topheader {
    float: left;
    height: 30px;
<<<<<<< HEAD
    width: 100%;
=======
    width: 1000px;
>>>>>>> 6d1444b676bb9cce79bff6ef95cba8ca6d9a48df
    background-color: #4b4b53;
    margin-bottom: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.topheader p {
    text-align: right;
    margin-right: 20px;
    color: #a29a11;
<<<<<<< HEAD
    line-height: 4px;
=======
    line-height: 30px;
>>>>>>> 6d1444b676bb9cce79bff6ef95cba8ca6d9a48df
}

/*-- Header --*/

header {
    height: auto;
    width: 100%;
    float: left;
}
header img {
    float: left;
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 71px;
    object-fit: contain;
}
header nav {
    float: left;
    background-color: #65656d;
    width: 90%;
    height: 73px;
}
header ul {
    text-align: right;
}
header li {
    display: inline-block;
    padding: 5px 25px ;
    font-size: 25px;
    color: white;

}
.current a {
    color: #a29a11;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(229, 255, 0);
}
#projecteur {
    width: 100%;
    margin-top: -83px;
    margin-bottom: -87px;

}
#projecteur img {
    width: 100%;
}
.partenaires {
    float: left;
}
.partenaires li {
    display: inline
}
section {
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    float: left;
}
section aside {
    float: left;
    width: 50%;
    margin-top: 30px;
    margin-left: 10px;
}
section aside img{
    max-width: 100%;
    border-radius: 5px;
    border: 9px solid #65656d;
}

section article {
    float: left;
    width: 45%;
    text-align: center;
    background-color: #65656d;
    border-radius: 6px;
    margin-top: 90px;
    margin-left: 25px;
}
section article {
    padding-left: 3px;
    padding-right: 3px;
}
section article img {
    width: 20%;
    margin-top: 5px;
}
.partenaires h2{
    text-align: center;
}
.partenaires img {
    margin-left: 10px;
    filter: grayscale(100%);
    transition-duration: 3s;
    height: 70px;
}
.partenaires img:hover{
    filter: none;
    transition-duration: 3s;
    transform: rotate(-0.01turn);
}

.presentation {
    width: 480px;
    margin: 25px auto 10px auto;
    border: #65656d solid 10px;
    border-radius: 5px;
}
.presentation img {
    max-width: 100%;
    margin-bottom: -4px;
}
footer {
    width: 100%;
    background-color: rgb(101, 101, 109);
    float: left;
    padding: 10px 10px;
    margin-top: -83px;
}
footer >.page {
    background-color: #65656d;
    box-shadow: none;
    
}
.gmap {
        
        width: calc( (100% / 3) - 10px);
        float: left;
        
        margin-left: 10px;
    }
.newsletter {
        
        width: calc( (100% / 3) - 10px);
        float: left;
        margin-left: 10px;
    }
 .newsletter fieldset {
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 8px;
        border: 2px solid #a29a11;
        color: #a29a11;
        height: 180px;
    }


 .newsletter input {
        width: 91%;
        height: 25px;
        margin-bottom: 5px;
        padding: 5px 10px;
    }

.newsletter input[type=submit] {
        width: 100%;
        height: 30px;
        border: 0;
        background: #a29a11;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    } 

.contact {
        width: calc( (100% / 3) - 10px);
        float: left;
        margin-left: 10px;
    }

.contact h3 {
        color: rgb(0, 0, 0);
        padding-left: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
    }
.contact address {
        color: rgb(0, 0, 0);
        padding-left: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
.contact address strong {
        font-size: 20px;
    }
.contact address a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
.contact address a:hover {
        text-decoration: underline;
    }
 i {
        color: #a29a11;
}
 i:hover {
        color: white;
    }